.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FF8C00;
    padding: 20px;
    width: 100%;
    color: #8B4513;
    font-size: large;
}

#display{
    width: 100%;
}

#slider {
    width: 100%;
}

#length{
    display: inline-block;
    width: 100px;
}

.previous_passwords {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #8B4513;
}

a {
    color: #FF8C00;
}

button {
    background-color: #8B4513;
    color: #FF8C00;
}





